@import "../../variables.scss";

.about {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.about-text h2 {
  display: inline-block;
  width: 500px;
  margin: 20px 0;
  font-family: $empty-font;
  font-size: 80px;
  letter-spacing: 5px;
  padding: 0 30px;
  color: $blue-neon;
  background-color: black;
  border: 2px solid $pink-neon;
  border-radius: 15px;
  box-shadow: 5px 12px 0px 3px rgba(0, 0, 0, 1);
  text-shadow: 0px 0px 100px $blue-neon;
}
.about-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px 0px 0px;
  padding-top: 40px;
  height: 95vh;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  & p {
    position: relative;
    top: 0;
    width: 600px;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 23px;
    border: 1px solid $blue-neon;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 15px;
    text-align: start;
    color: $pink-neon;
    font-family: $text-font;
    box-shadow: 5px 12px 0px 3px rgba(0, 0, 0, 1);

    &:nth-child(odd) {
      color: $blue-neon;
      border-color: $pink-neon;
    }
    & strong {
      text-transform: uppercase;
      color: $pink-neon;
      text-decoration: underline;
      &.blue {
        color: $blue-neon;
      }
    }
  }
  & p.about-text-center {
    text-align: center;
  }
}
.about-buttons {
  position: relative;
  bottom: 20px;
  & button {
    margin: 50px 20px 0 0;
    padding: 0px 40px;
    font-family: $empty-font;
    color: $pink-neon;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 2px 0px $blue-neon;
    background-color: rgba(0, 0, 0, 0.603);
    border: 2px solid $blue-neon;
    outline: 2px solid $pink-neon;
    border-radius: 15px;
    box-shadow: 5px 12px 0px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    &:active {
      background-color: $blue-neon;
      transform: translate(2px, 5px);
      box-shadow: 5px 9px 0px 1px rgba(0, 0, 0, 1);
    }
  }
}

.about-img img {
  position: absolute;
  bottom: 0;
  left: 0;

  &:nth-child(1) {
    filter: brightness(0.6);
    z-index: 1;
    transform: scale(0.9) translate(-15%, 10%);
    animation: aboutGuyMove 1.5s 1;
  }
  &:nth-child(2) {
    transform: scale(0.9) translate(-17%, 10%);
    animation: aboutGuyShadowMove 1.5s 1;
  }
}

@keyframes aboutGuyMove {
  0% {
    filter: brightness(0.3);
    transform: scale(0.9) translate(-20%, 10%);
  }
  100% {
    filter: brightness(0.6);
    transform: scale(0.9) translate(-15%, 10%);
  }
}
@keyframes aboutGuyShadowMove {
  0% {
    transform: scale(0.9) translate(-14%, 10%);
  }
  100% {
    transform: scale(0.9) translate(-17%, 10%);
  }
}
