// colors
$bgc-color: #1b1b1b;
$pink-neon: #ff1aff;
$blue-neon: #0affff;
$darkPink-neon: #8d1a8d;
$darkBlue-neon: #117474;
// fonts
$empty-font: "Bungee Outline", sans-serif;
$text-font: "Kodchasan", sans-serif;
