// colors
$bgc-color: #12121200;
$pink-neon: #ad00a2;
$blue-neon: #22aff8;
$darkPink-neon: #8d1a8d;
$darkBlue-neon: #117474;
// fonts
$empty-font: "Bungee Outline", sans-serif;
$text-font: "Kodchasan", sans-serif;
