@import "../../variables.scss";

.menu {
  font-family: $empty-font;
  font-size: 130px;
  letter-spacing: 5px;

  &-list {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    & li {
      transform-style: preserve-3d;
      transform: rotateY(-7deg) rotateX(30deg) rotateZ(3deg);
      transition: 1s;
      margin: 0 0 40px 50px;

      &:hover {
        transform: rotateY(5deg) rotateX(0deg) rotateZ(0.5deg);
      }

      &:hover > .menu-link {
        box-shadow: 40px 36px 24px 20px rgba(0, 0, 0, 0.8),
          inset 0px 0px 15px $pink-neon;
      }
      &:nth-child(2) {
        transform: rotateY(-7deg) rotateX(-30deg) rotateZ(-2deg);
        &:hover {
          transform: rotateY(5deg) rotateX(0deg) rotateZ(0.5deg);
        }
      }
    }

    & .menu-link {
      padding: 0 30px;
      text-decoration: none;
      color: $blue-neon;
      opacity: 0.7;
      background-color: black;
      border: 2px solid $pink-neon;
      border-radius: 15px;
      box-shadow: 5px 12px 0px 3px rgba(0, 0, 0, 1),
        inset 0px 0px 2px $pink-neon;
      transition: 1s;
      &:hover {
        font-weight: bold;
        opacity: 0.9;
      }
    }
  }
}

.img-container {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
  & img {
    height: 100vh;
    max-height: 1080px;
    position: absolute;
    bottom: 0;
    right: 0;

    &:nth-child(1) {
      z-index: 2;
    }
    &:nth-child(2) {
      z-index: 1;
      transform: translateX(3%);
    }
  }
}

.citation {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-family: $text-font;
  padding: 10px;
  color: $blue-neon;
}

@keyframes guyMoveShadow {
  0% {
    transform: translate(-15%, 0%);
  }
  100% {
    transform: translate(15%, 1%);
  }
}

@media (max-width: 1575px), (max-height: 900px) {
  .menu {
    font-size: 110px;
  }
  .img-container {
    right: -10%;
  }
}
@media (max-width: 1300px), (max-height: 790px) {
  .menu {
    font-size: 100px;
    letter-spacing: 3px;
    &-list li {
      margin: 30px 0 0 30px;
    }
  }
  .img-container {
    right: -2%;
  }
}
@media (max-width: 1000px), (max-height: 650px) {
  .menu {
    font-size: 75px;
    letter-spacing: 2px;
    &-list li {
      margin: 0 0 30px 20px;
    }
  }
  .img-container {
    right: -4%;
  }
}

@media (max-width: 830px), (max-height: 550px) {
  .menu {
    &-list {
      width: 100%;
      align-items: center;
      & li {
        margin: 0 0 25px 0;
        &:hover > .menu-link {
          box-shadow: inset 0px 0px 15px $pink-neon;
        }
      }
      & .menu-link {
        font-weight: bold;
        box-shadow: inset 0px 0px 10px $pink-neon;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
  .img-container {
    right: 50%;
    & img {
      height: 115vh;
      transform: translate(50%, 0%);
      z-index: 1;
      &:nth-child(2) {
        z-index: 1;
        transform: translate(52%, 0%);
      }
    }
  }
  .citation {
    font-size: 10px;
  }
}
@media (max-width: 500px), (max-height: 400px) {
  .menu {
    font-size: 45px;
    &-list {
      & li {
        margin: 0 0 20px 0;
      }
    }
  }
}
@media (max-width: 360px), (max-height: 370px) {
  .menu {
    font-size: 35px;
  }
  .citation {
    font-size: 8px;

    text-align: center;
    right: 50%;
    width: 100%;
    transform: translateX(50%);
  }
}
@media (max-width: 320px), (max-height: 290px) {
  .citation {
    font-size: 7px;
  }
}
