@import "../../variables.scss";

.menu {
  font-family: $empty-font;
  font-size: 130px;
  letter-spacing: 5px;
  margin-top: 35px;
  &-list {
    position: relative;
    z-index: 10;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    & li {
      transform-style: preserve-3d;
      transform: rotateY(-7deg) rotateX(30deg) rotateZ(3deg);
      transition: 1s;
      margin: 40px 0 0 50px;

      &:hover {
        transform: rotateY(5deg) rotateX(0deg) rotateZ(0.5deg);
      }

      &:hover > .menu-link {
        box-shadow: 40px 36px 24px 20px rgba(0, 0, 0, 1);
      }
      &:nth-child(2) {
        transform: rotateY(-7deg) rotateX(-30deg) rotateZ(-2deg);
        &:hover {
          transform: rotateY(5deg) rotateX(0deg) rotateZ(0.5deg);
        }
      }
    }

    & .menu-link {
      padding: 0 30px;
      text-decoration: none;
      color: $blue-neon;
      opacity: 0.5;
      background-color: black;
      border: 2px solid $pink-neon;
      border-radius: 15px;
      box-shadow: 5px 12px 0px 3px rgba(0, 0, 0, 1);
      transition: 1s;
      &:hover {
        text-shadow: 0px 0px 200px $blue-neon;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}

.img-container {
  position: absolute;
  bottom: 0;
  right: 0;
  & img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(12%, 0%);
    &:nth-child(1) {
      z-index: 1;
      animation: guyMove 4s ease-out 1;
    }
    &:nth-child(2) {
      transform: translate(15%, 1%);
      animation: guyMoveShadow 4s ease-out 1;
    }
  }
}

.citation {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-family: $text-font;
  padding: 10px;
  color: $blue-neon;
}

@keyframes guyMove {
  0% {
    transform: translate(14%, 0%);
  }
  100% {
    transform: translate(12%, 0%);
  }
}
@keyframes guyMoveShadow {
  0% {
    transform: translate(13%, 0%);
  }
  100% {
    transform: translate(15%, 1%);
  }
}
